<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thermostat App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/Thermostat.css">
  </head>

  <body>

    <form class="" action="/users/new" method="post">
      <input type="text" name="username">
      <input type="submit" value="Register">
    </form>


  </body>
</html>
