<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thermostat App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/Thermostat.css">
  </head>

  <body>


    <div class="container">
      <div class='row'>
        <div class='col-12'>
          <h1 class="text-center"> Welcome To The Thermostat </h1>
        </div>
      </div>

      <div class="row">
        <div id="curr-temp" class="col-3">
          <span> Current Temperature: </span> <span id='temp'></span>
        </div>
        <div class="col-3">
          <h3 id="usage"></h3>
        </div>
        <div class="col-3">
          <h1 id="city"> </h1> <h1 id='city-temp'></h1>
          <select id="choose-city">
            <option>Choose City</option>
            <option class="choose" value="tokyo" name="button">Tokyo</option>
            <option class="choose" value="london" name="button">London</option>
            <option class="choose" value="New York" name="button">New York</option>
          </select>
        </div>
        <div class="col-3">
          <form action="/sessions/new" method="get">
            <input type="submit" value="Login">
          </form>
        </div>
      </div>


      <div class="row">
        <div class="col-6">
          <form class="form-group" action="index.html" method="post">
            <div class="form-box">
              <label for="change-temp">Change Temperature: </label>
              <input type="text" id="number" class='form-control' name='change-temp'>
            </div>
            <div class="up-down-buttons">
              <button id="up" type="button" name="button" class="btn btn-danger">Turn it up!</button>
              <button id="down" type="button" name="button" class="btn btn-info">Cool off!</button>
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <button id="eco" type="button" name="button" class="btn btn-success">ECO Mode</button>
        </div>
        <div class="col-3">
          <h3 id="eco-power"></h3>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <button id="reset" type="button" name="button" class="btn btn-primary">Reset</button>
        </div>
      </div>

    </div>

  <script type="text/javascript" src="js/Thermostat.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/doingstuff.js"></script>

  </body>
</html>
